.logo{
  width: 40px;
}
.menu{
  display: flex;
  align-items: center;
  .menu__item{
    margin-right: 20px;
    .menu-link{
      color: #7F7F7F;
      text-align: right;
      font-size: 15.875px;
      font-style: normal;
      font-weight: 600;
      display: flex;
      align-items: center;
    }
  }
}
.burger{
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background: none;
  .burger-item{
    width: 20px;
    height: 2px;
    background: #7F7F7F;
    border-radius: 15px
  }
}
.carousel-parent{
  .p-carousel .p-carousel-indicators{
    display: none;
  }
}
.tab-menu{
  .p-tabmenu .p-tabmenu-nav{
    background: none;
    border: none;
  }
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link{
    background: none;
    border: none;
  }
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
    background: none;
    border: none;
  }
}
.product-parent{
  margin-top: 50px;
  .p-card{
    background: none;
    border: none;
    box-shadow: none;
    padding: 1rem;
    .p-card-body{
      padding: 0;
    }
    .p-card-content{
      p{
        margin-bottom: 0;
      }
    }
    .btn-count{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background: none;
      cursor: pointer;
      border-radius: 7px;
    }
  }
}
.product-caption{
  color: #1F1E23;
  font-family: 'Victor Mono', monospace;
  font-size: 17.031px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.product-description{
  color: #7F7F7F;
  font-family: 'Victor Mono', monospace;
  font-size: 13.344px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.1px;
  letter-spacing: 0.72px;
}
.tab-menu{
  .p-tabmenu .p-tabmenu-nav.p-reset{
    gap: 10px;
    flex-wrap: wrap;
  }
  .p-tabmenu .p-tabmenu-nav.p-reset .p-tabmenuitem{
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
  }
  .p-tabmenu .p-tabmenu-nav.p-reset li a span{
    color: #000;
    font-family: 'Victor Mono', monospace;
    font-size: 16.188px;
    font-style: normal;
    font-weight: 200;
    line-height: 21px;
    letter-spacing: 0.72px;
  }
}
.carousel-parent{
  .carousel-caption{
    color: #000;
    font-family: 'Victor Mono', monospace;
    font-size: 39.648px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 3px;
  }
  .carousel-description{
    color: #000;
    font-family: 'Victor Mono', monospace;
    font-size: 15.25px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.72px;
  }
}
.dialog-menu{
  height: 100% !important;
  max-height: 100vh !important;
  margin: 0 !important;
  width: 40vw !important;
  .p-dialog-header{
    img{
      width: 40px !important;
    }
  }
  .p-dialog-content{
    height: 100%;
  }
}
.dialog-caption{
  font-weight: 300;
  font-family: 'Victor Mono', monospace;
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 10px;
  color: #1F1E23;
}
.dialog-caption--big-text{
  font-size: 25px;
}
.dialog-description{
  font-family: 'Victor Mono', monospace;
  text-align: left;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  padding: 0;
  color: #7F7F7F;
  margin-bottom: 0;
}
.dialog-menu--full{
  width: 100vw !important;
}
.dialog-button{
  font-family: 'Victor Mono', monospace;
  border-radius: 15px;
  border: 1px solid #000000;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
  margin: 30px auto 50px auto;
  padding: 15px 20px;
  display: block;
  background-color: #fff;
  cursor: pointer;
}
.contacts-default{
  font-weight: 300;
  line-height: 31px;
  margin-bottom: 0;
  a{
    font-family: 'Victor Mono', monospace;
    font-size: 22px;
    color: #1F1E23;
  }
}
